.background-image {
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: background-size .218s ease-out;
}

.background-image--zoom {
  background-size: 120%;
}
