.expandable-paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;

  .expandable-paragraph__content {
    opacity: 0;
    overflow-y: hidden;
    height: 0;
    transition: height $transition-duration $transition-easing, opacity $transition-duration-fast $transition-easing
  }
  .expandable-paragraph__button {
    display: flex;
    align-items: center;
    color: $color-blue;
    cursor: pointer;
  }

  .expandable-paragraph__icon {
    margin-left: 12px;

    >svg {
      width: 8px;
    }
  }

  &--expanded {
    .expandable-paragraph__content {
      opacity: 1;
      height: 127.5px;

    }
  }
}

