.image-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  &__image {
    width: 320px;
    height: 280px;
    flex-shrink: 0;
  }

  &__container {
    position: absolute;
    display: flex;

    transition: left $transition-duration $transition-easing;
  }
}
