.location-field {
  $field-space: 10px;
  $button-size: 32px;

  position: relative;

  &__input {
    background-color: transparent;
    display: block;
    width: 100%;
    height: $field-height;
    padding: 0 (2 * $field-space + $button-size) 0 $field-space;
    border: none;
    border-bottom: 2px solid $color-blue;
    color: $color-text;
    font-size: $font-size-l;
    line-height: $line-height-base;
    outline: 0;

    &:focus {
      border-color: $color-field-focus;
    }

    &:invalid {
      border-color: $color-error;
      color: $color-error;
    }

    &:placeholder {
      color: $color-minor;
    }
  }

  &__button {
    position: absolute;
    top: 0.5 * ($field-height - $button-size);
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $button-size;
    height: $button-size;
    color: $color-primary;
    outline: 0;

    &:hover,
    &:focus {
      color: $color-primary-active;
    }

    & > .icon {
      display: block;
      width: $button-size / 1.5;
      height: $button-size / 1.5;
    }
  }

  & > .loading-indicator {
    position: absolute;
    width: $button-size;
    height: $button-size;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    font-size: $button-size / 1.5;
    line-height: $button-size;
  }

  &--error {
    .location-field__input,
    .location-field__input:focus {
      border-color: $color-error;
      color: $color-error;
      box-shadow: $box-shadow-error;
    }
    .location-field__input:focus {
      box-shadow: $box-shadow-focus;
    }
  }
}

.pac-container {
  height: 100px;
  overflow-y: scroll;
}
