.widget-footer {
  display: flex;
  width: 100%;
  background-color: $color-bg-white-overlay;
  padding: 12px 16px;
  align-items: center;
  justify-content: flex-end;

  .widget-footer__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
  }

  .widget-footer__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: flex-end;
    margin-left: 16px;
  }

  &--zoomed-in {
    background-color: transparent;
  }
}
